streamlit==1.36.0
pandas==2.2.2
numpy==1.26.4
matplotlib==3.8.4
openpyxl==3.1.2
mplcyberpunk==0.7.1
Pillow==10.4.0
kiwisolver==1.4.5
fonttools==4.53.1
cycler==0.12.1
packaging==24.1
python-dateutil==2.9.0.post0
pytz==2024.1
